### Import the dependenacy

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

### Data Collection and Pre-Processing

In [2]:
# loading the data from csv

raw_mail_data = pd.read_csv('mail_data.csv')

In [3]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
## replace the null values with a null string

mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

### EDA

In [5]:
## first 5 data

mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
# checking rows and column

mail_data.shape

(5572, 2)

### Label Encoding for category

In [7]:
# spam mail is 0 
mail_data.loc[mail_data['Category']== 'spam','Category',] = 0

# ham mail is 1
mail_data.loc[mail_data['Category']== 'ham','Category',] = 1

> spam : 0

> ham : 1

In [8]:
## seperating data as text and label

X = mail_data['Message']

y = mail_data['Category']

In [9]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [10]:
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [11]:
## Spliting the data for training and test

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
print(X.shape, X_train.shape, X_test.shape)

(5572,) (4457,) (1115,)

### Feature Extraction

In [14]:
## transform text data into feature vectors that can be used as input to the logistic regression

feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#convert y_train and y_test values as integers

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [15]:
print(X_train_features)

  (0, 5818)	0.22682143517864364
  (0, 2497)	0.2442158912653505
  (0, 694)	0.3171299579602537
  (0, 6264)	0.1898892037332199
  (0, 5800)	0.17558937755823417
  (0, 3262)	0.33791755486732394
  (0, 2049)	0.3034375179183143
  (0, 7300)	0.24288153842988894
  (0, 2724)	0.3544175987866074
  (0, 354)	0.3544175987866074
  (0, 7162)	0.2550284465664535
  (0, 258)	0.2379428657041507
  (0, 7222)	0.2173884735352799
  (0, 5512)	0.1898892037332199
  (1, 2555)	0.3840709491751004
  (1, 3804)	0.1902902346515268
  (1, 3932)	0.24325511357721427
  (1, 4509)	0.4028245991060671
  (1, 2440)	0.33870544648398715
  (1, 3333)	0.20665394084233096
  (1, 5650)	0.360444144470318
  (1, 2335)	0.2162321275166079
  (1, 6738)	0.28986069568918
  (1, 6109)	0.3239762634465801
  (1, 3267)	0.2678713077029217
  :	:
  (4452, 2438)	0.4574160733416501
  (4452, 7280)	0.3968991650168732
  (4452, 3978)	0.4574160733416501
  (4452, 3290)	0.26370969643076225
  (4452, 3084)	0.22948428918295163
  (4452, 2236)	0.2676662072392096
  (4453, 3874)	0.6064947019588056
  (4453, 4004)	0.5244851817485773
  (4453, 6108)	0.5975612693457145
  (4454, 6113)	0.4465347909835087
  (4454, 6114)	0.4465347909835087
  (4454, 5149)	0.43410473161397095
  (4454, 5409)	0.4079234999314281
  (4454, 3249)	0.3182708584577292
  (4454, 2893)	0.38087861810984514
  (4455, 5815)	0.5332274226200294
  (4455, 3691)	0.5541750775894743
  (4455, 4660)	0.4924788339394118
  (4455, 6686)	0.40745931976870786
  (4456, 4518)	0.5364209818026567
  (4456, 6078)	0.46545159250664164
  (4456, 6467)	0.48168628392630153
  (4456, 5719)	0.3276287995831882
  (4456, 2236)	0.31389751705425334
  (4456, 3720)	0.24023610815826446

## Training the Model

> Logistic Regression

In [16]:
model = LogisticRegression()

In [17]:
# Training the logistic Regression model with training data

model.fit(X_train_features,y_train)

LogisticRegression()

### Evaluating the trained model

> Accuracy Score

In [18]:
# prediction in training data

prediction_on_training_data = model.predict(X_train_features)

accuracy_on_training_data = accuracy_score(y_train, prediction_on_training_data)

In [19]:
print('Accuracy on training data : ', accuracy_on_training_data)

Accuracy on training data :  0.9661207089970832

In [20]:
# prediction in test data

prediction_on_test_data = model.predict(X_test_features)

accuracy_on_test_data = accuracy_score(y_test, prediction_on_test_data)

In [21]:
print('Accuracy on training data : ', accuracy_on_test_data)

Accuracy on training data :  0.967713004484305

### Building Predictive System

In [22]:
input_mail = ["Urgent UR awarded a complimentary trip to EuroDisinc Trav, Aco&Entry41 Or £1000. To claim txt DIS to 87121 18+6*£1.50(moreFrmMob. ShrAcomOrSglSuplt)10, LS1 3AJ"]

In [23]:
# convert text to feature vectors

input_data_features = feature_extraction.transform(input_mail)

In [24]:
# making prediction

prediction = model.predict(input_data_features)

print(prediction)


if prediction[0] == 1:
    print('It is Ham Mail')
else:
    print('Spam Mail')

[0]
Spam Mail